<% @messages.each do |message| %>
  <% if message.body.present? %>
    <div class="msgBox_<%= checkUser(message) %>">
      <p class="msgBox__name"><%= message.user.name %></p>
      <div class="msgBox__fukidashi">
        <p class="msgBox__content"><%= message.body %></p>
        <p class="msgBox__date"><%= detail_time(message.created_at) %></p>
      </div>
      <p class="msgBox__icon">
        <%= message.user.icon.url.present? ? image_tag(message.user.icon.url) : image_tag('user_default_icon.jpg') %>
      </p>
      <p class="msgBox__read"><%= message.read ? '既読' : '未読' %></p>
    </div>
  <% end %>
<% end %>
