<section class="userSignup">
  <div class="userSignup__container userSignup-container">
    <%= form_for(resource, as: resource_name, html: {class: 'userSignup-container__form userSignup-container-form'}, url: registration_path(resource_name)) do |f| %>
      <h2 class="userSignup-container-form__title">e-AdAppter</h2>

      <div class="userSignup-container-form__errorMsg" id="signUpError">
        <%= devise_error_messages! %>
      </div>

      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム", id: "name", class: 'userSignup-container-form__name' %>

      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", id: "email", class: 'userSignup-container-form__email' %>

      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード （#{@minimum_password_length}文字以上)", class: 'userSignup-container-form__password' %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: 'userSignup-container-form__passwordConfirmation' %>

      <div class="userSignup-container-form__wantToBeAdvertised">
        <%= render 'users/want_to_be_advertised', f: f %>
      </div>

      <div class="userSignup-container-form__wantToAdvertise">
        <%= render 'users/want_to_advertise', f: f %>
      </div>

      <%= f.submit "アカウント作成", class: 'userSignup-container-form__submitBtn' %>

      <div class="userSignup-container-form__btnArea userSignup-container-form-btnArea">
        <%= link_to user_twitter_omniauth_authorize_path, class: 'userSignup-container-form-btnArea__oauthBtn' do %>
          <i class="fab fa-twitter"></i> Twitterでログイン
        <% end %>
        <%= link_to 'アカウントをお持ちの方', new_user_session_path, class: 'userSignup-container-form-btnArea__signinBtn' %>
      </div>
    <% end %>

  </div>
</section>
