<% comments.each do |comment| %>
  <% if comment.id.present? %>
    <div class="commentBox_<%= checkUser(comment) %>">
      <p class="commentBox__name"><%= comment.user.name %></p>
      <div class="commentBox__fukidashi">
        <p class="commentBox__content"><%= comment.content %></p>
        <p class="commentBox__date"><%= detail_time(comment.created_at) %></p>
      </div>
      <p class="commentBox__icon">
        <%= comment.user.icon.url.present? ? image_tag(comment.user.icon.url) : image_tag('user_default_icon.jpg') %>
      </p>
    </div>
  <% end %>
<% end %>
