<!-- section -->
<section class="userEdit">
  <div class="userEdit__container userEdit-container">
    <h2 class="title" style="display:none;">ユーザー編集</h2>
    <%= hidden_field_tag "action", params[:action] %>
    <%= hidden_field_tag "route", "users" %>
    <%= hidden_field_tag "idParams", @user.id %>
    <%= form_with(model: @user, local: true, class: 'userEdit-container__form userEdit-container-form') do |f| %>
      <div class="userEdit-container-form__leftSide userEdit-container-form-leftSide">
        <div class="userEdit-container-form-leftSide__field_type_name">
          <i class="far fa-check-square"></i><%= f.label '名前', for: 'name' %>
          <%= f.text_field :name, id: 'name' %>
        </div>
        <div class="userEdit-container-form-leftSide__field_type_email">
          <i class="far fa-check-square"></i><%= f.label 'メールアドレス', for: 'email' %>
          <%= f.email_field :email, id: 'email' %>
        </div>
        <div class="userEdit-container-form-leftSide__field_type_twitter">
          <i class="far fa-check-square"></i><%= f.label 'Twitterアカウント', for: 'twitter' %><br>
          <span>＠</span><%= f.text_field :twitter, id: 'twitter' %>
        </div>
        <div class="userEdit-container-form-leftSide__field_type_facebook">
          <i class="far fa-check-square"></i><%= f.label 'Facebookアカウント URL', for: 'facebook' %>
          <%= f.text_field :facebook, id: 'facebook' %>
        </div>
        <div class="userEdit-container-form-leftSide__field_type_content">
          <i class="far fa-check-square"></i><%= f.label '自己紹介', for: 'content' %>
          <%= f.text_area :content, id: 'content' %>
        </div>
        <div class="userEdit-container-form-leftSide__field_type_wantToBeAdvertised">
          <%= render 'want_to_be_advertised', f: f %>
        </div>
        <div class="userEdit-container-form-leftSide__field_type_wantToAdvertise">
          <%= render 'want_to_advertise', f: f %>
        </div>
      </div>
      <div class="userEdit-container-form__rightSide userEdit-container-form-rightSide">
        <div class="userEdit-container-form-rightSide__field_type_icon">
          <i class="far fa-check-square"></i><%= f.label 'ユーザーアイコン' %>
          <div id="img_field" onClick="$('#upfile').click()" >
            <%= @user.icon.url.present? ? image_tag(@user.icon.url) : image_tag('user_default_icon.jpg') %>
          </div>
          <%= f.file_field :icon_http, style: "display:none;", id: "upfile"%>
        </div>
        <div class="userEdit-container-form-rightSide__btnArea userEdit-container-form-rightSide-btnArea">
          <div class="userEdit-container-form-rightSide-btnArea__submitBtn" id="ajaxSubmit">
            <%= @btn_label %></div>
          <%= link_to '戻る', user_path(@user.id), class: "userEdit-container-form-rightSide-btnArea__backBtn" %>
          <div class="userEdit-container-form-rightSide-btnArea__deleteBtn">
            <i class="far fa-trash-alt"></i>
            <%= link_to 'アカウントを削除する', user_path(@user.id), method: :delete, data: { confirm: 'アカウントを削除します。よろしいですか？'} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'layouts/overlay' %>
</section><!-- /section -->
