<!-- section -->
<section id="userIndex">
  <div class="userIndex__container">
    <div class="userIndex__leftSide userIndex-leftSide">
      <%= form_with(url: users_path, method: 'get', local: true, class: 'userIndex-leftSide__searchArea userIndex-leftSide-searchArea') do |form| %>
        <%= form.text_field :keyword, placeholder: "ユーザー検索", class: "userIndex-leftSide-searchArea__input", value: params[:keyword] %>
        <%= button_tag type: 'submit', class: "userIndex-leftSide-searchArea__button" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
      <%= render 'users/userlist', users: @users, list_type: "index" %>
    </div>
    <div class="userIndex__rightSide userIndex-rightSide">
      <div class="userIndex-rightSide__userInfo userIndex-rightSide-userInfo">
        <div class="userIndex-rightSide-userInfo__icon">
          <%= current_user.icon.url.present? ? image_tag(current_user.icon.url) : image_tag('user_default_icon.jpg') %>
        </div>
        <div class="userIndex-rightSide-userInfo__name">
          <%= current_user.name %>
        </div>
        <div class="userIndex-rightSide-userInfo__userCountBox" id="count_box_current_user">
          <%= render 'users/counter', user: current_user %>
        </div>
      </div>
    </div>
  </div>
</section><!-- /section -->
