<!-- section -->
<section class="userShow">
  <div class="userShow__container">
    <h2 class="page_title" style="display:none;">マイページ</h2>
    <div class="userShow__leftSide userShow-leftSide">
      <div class="userShow-leftSide__userProfile userShow-leftSide-userProfile">
        <div class="userShow-leftSide-userProfile__icon">
          <%= @user.icon.url.present? ? image_tag(@user.icon.url) : image_tag('user_default_icon.jpg') %>
        </div>
        <div class="userShow-leftSide-userProfile__content userShow-leftSide-userProfile-content">
          <div class="userShow-leftSide-userProfile-content__name">
            <%= @user.name %>
          </div>
          <div class="userShow-leftSide-userProfile-content__type">
            <% if @user.want_to_be_advertised == true %>
              <p>広告してほしい！</p>
            <% end %>
            <% if @user.want_to_advertise == true %>
              <p>広告したい！</p>
            <% end %>
          </div>
          <% if @user.twitter.present? %>
            <%= link_to "https://twitter.com/#{@user.twitter}", class: 'userShow-leftSide-userProfile-content__twitter' do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          <% end %>
          <% if @user.facebook.present? %>
            <%= link_to @user.facebook, class: 'userShow-leftSide-userProfile-content__facebook' do %>
              <i class="fab fa-facebook-f"></i>
            <% end %>
          <% end %>
          <div class="userShow-leftSide-userProfile-content__userCountBox" id="count_box_<%= @user.id %>" >
            <%= render "users/counter", user: @user %>
          </div>
          <div class="userShow-leftSide-userProfile-content__text"><%= @user.content %></div>
          <% unless @user == current_user %>
            <%= render 'follow_form', user: @user %>
          <% end %>
          <%= link_to 'メッセージ確認', conversations_path, class: "userShow-leftSide-userProfile-content__dm" if @user.id == current_user.id %>
          <div class="userShow-leftSide-userProfile-content__date"><%= start_time(@user.created_at) %>より利用開始</div>
          <% if @user == current_user %>
            <%= link_to edit_user_path, class: "userShow-leftSide-userProfile-content__edit" do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="userShow-leftSide__categoryArea">
        <p><i class="fas fa-search"></i>アプリを探す</p>
        <%= render 'advertisements/category_box' %>
      </div>
    </div>
    <div class="userShow__rightSide userShow-rightSide">

      <div class="userShow-rightSide__twitterInfo userShow-rightSide-twitterInfo" id="twitterInfo">
        <%= render 'twitter_informations/format', user: @user %>
      </div>

      <div class="userShow-rightSide__tabList" id="tabList">
        <%= link_to '投稿したアプリ', tabs_index_path(user: @user, type: "ad"), remote: true, class: 'js-ad open' %>
        <%= link_to 'ストックしたアプリ', tabs_index_path(user: @user, type: "liked"), remote: true, class: 'js-stocked' %>
        <%= link_to 'フォロー中', tabs_index_path(user: @user, type: "following"), remote: true, class: 'js-following' %>
        <%= link_to 'フォロワー', tabs_index_path(user: @user, type: "followed"), remote: true, class: 'js-followed' %>
      </div>

      <div class="userShow-rightSide__adList" id="tab_content">
        <%= render partial: 'users/posted_ad', locals: { user: @user, advertisements: @advertisements } %>
      </div>

    </div>
  </div>
</section><!-- /section -->
