<!-- section -->
<section class="adShow">
  <h2 class="page_title" style="display:none;">Webアプリ依頼詳細</h2>
  <div class="adShow__container">
    <div class="adShow__leftSide adShow-leftSide ">
      <div class="adShow-leftSide__detailArea adShow-leftSide-detailArea">
        <div class="adShow-leftSide-detailArea__wrap adShow-leftSide-detailArea-wrap">
          <%= image_tag(@advertisement.image.url, class: "adShow-leftSide-detailArea-wrap__thumbnail") if @advertisement.image.present? %>
          <h3 class="adShow-leftSide-detailArea-wrap__title"><%= @advertisement.title %></h3>
          <div class="adShow-leftSide-detailArea-wrap__date">
            投稿日 <%= simple_time(@advertisement.created_at) %></div>
          <% if @advertisement.active == true %>
            <div class="adShow-leftSide-detailArea-wrap__state adShow-leftSide-detailArea-wrap__state_type_active">
              募集中！</div>
          <% elsif @advertisement.active == false %>
            <div class="adShow-leftSide-detailArea-wrap__state adShow-leftSide-detailArea-wrap__state_type_passive">
              募集停止中</div>
          <% end %>
          <div class="adShow-leftSide-detailArea-wrap__adCountBox" id="numDiv">
            <%= render 'advertisements/counter', advertisement: @advertisement %>
          </div>
          </a>
          <% unless @advertisement.app_category == nil %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.app_category %></div>
          <% end %>
          <% unless @advertisement.request_follower == nil %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              希望フォロワー数 <%= @advertisement.request_follower %></div>
          <% end %>
          <% unless @advertisement.target_sex == nil %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.target_sex %></div>
          <% end %>
          <% unless @advertisement.target_age == nil %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.target_age %></div>
          <% end %>
          <% unless @advertisement.hash_01 == "" %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.hash_01 %></div>
          <% end %>
          <% unless @advertisement.hash_02 == "" %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.hash_02 %></div>
          <% end %>
          <% unless @advertisement.hash_03 == "" %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.hash_03 %></div>
          <% end %>
          <% unless @advertisement.hash_04 == "" %>
            <div class="adShow-leftSide-detailArea-wrap__hash">
              <%= @advertisement.hash_04 %></div>
          <% end %>
          <p class="adShow-leftSide-detailArea-wrap__content">
            <%= @advertisement.content %></p>
          <div class="adShow-leftSide-detailArea-wrap__appUrl">
            <%= link_to "#{@advertisement.app_url}" %></div>
          <%= link_to user_path(@advertisement.user.id), class: "adShow-leftSide-detailArea-wrap__developer" do %>
            <%= @advertisement.user.icon.present? ? image_tag(@advertisement.user.icon.url) : image_tag("user_default_icon.png") %>
            <p><%= @advertisement.user.name %>さんが作成</p>
          <% end %>
          <%= link_to edit_advertisement_path(@advertisement.id), class: "adShow-leftSide-detailArea-wrap__edit" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
        <div class="adShow-leftSide-detailArea__wrap adShow-leftSide-detailArea-wrap">
          <h3 class="adShow-leftSide-detailArea-wrap__label">
            アプリの機能詳細</h3>
          <p class="about_function"><%= @advertisement.about_function %></p>
        </div>
        <div class="adShow-leftSide-detailArea__wrap adShow-leftSide-detailArea-wrap">
          <h3 class="adShow-leftSide-detailArea-wrap__label">
            広告したいターゲット</h3>
          <p class="about_target"><%= @advertisement.about_target %></p>
        </div>
        <div class="adShow-leftSide-detailArea__wrap adShow-leftSide-detailArea-wrap">
          <h3 class="adShow-leftSide-detailArea-wrap__label">
            依頼事項</h3>
          <p class="about_condition"><%= @advertisement.about_condition %></p>
        </div>
        <div class="adShow-leftSide-detailArea__wrap adShow-leftSide-detailArea-wrap">
          <h3 class="adShow-leftSide-detailArea-wrap__label">
            希望金額</h3>
          <p class="about_fee"><%= @advertisement.about_fee %></p>
        </div>
      </div>
      <div class="adShow-leftSide__commentArea adShow-leftSide-commentArea">
        <div class="adShow-leftSide-commentArea__input">
          <%= render partial: 'comments/form', locals: { comment: @comment, advertisement: @advertisement } %>
        </div>
        <div class="adShow-leftSide-commentArea__content" id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, advertisement: @advertisement } %>
        </div>
      </div>
    </div>
    <div class="adShow__rightSide adShow-rightSide">
      <div class="adShow-rightSide__thumbnail adShow-rightSide-thumbnail">
        <% if @advertisement.image.url.present? %>
          <%= image_tag(@advertisement.image.url) %>
        <% else %>
          <p>No image</p>
          <i class="fas fa-image"></i>
        <% end %>
      </div>
      <div class="adShow-rightSide__userInfo adShow-rightSide-userInfo">
        <% if @advertisement.user.icon.url.present? %>
          <div class="adShow-rightSide-userInfo__icon">
            <%= image_tag(@advertisement.user.icon.url) %></div>
        <% else %>
          <div class="adShow-rightSide-userInfo__icon">
            <%= image_tag('user_default_icon.jpg') %></div>
        <% end %>
        <div class="adShow-rightSide-userInfo__name">
          <%= @advertisement.user.name %></div>
        <% if @advertisement.user != current_user %>
          <div><%= render 'users/follow_form', user: @advertisement.user %></div>
        <% end %>
        <div class="adShow-rightSide-userInfo__comment">
          <%= @advertisement.user.content %></div>
        <div class="adShow-rightSide-userInfo__userCountBox" id="count_box_<%= @advertisement.user.id %>">
          <%= render 'users/counter', user: @advertisement.user %>
        </div>
        <% if @advertisement.user.twitter.present? %>
          <div class="adShow-rightSide-userInfo__twitter">
            <%= link_to "https://twitter.com/#{@advertisement.user.twitter}" do %>
              <i class="fab fa-twitter"></i> Twitter
            <% end %></div>
        <% end %>
        <% if @advertisement.user.facebook.present? %>
          <div class="adShow-rightSide-userInfo__facebook">
            <%= link_to @advertisement.user.facebook do %>
              <i class="fab fa-facebook-square"></i> Facebook
            <% end %></div>
        <% end %>
      </div>
      <div class="adShow-rightSide__btnArea adShow-rightSide-btnArea">
        <% if @advertisement.user_id == current_user.id %>
          <%= link_to '編集', edit_advertisement_path(@advertisement.id), class: "adShow-rightSide-btnArea__requestBtn adShow-rightSide-btnArea__requestBtn_type_active" %>
        <% else %>
          <% if @advertisement.active && current_user.want_to_advertise %>
            <%= link_to 'この依頼を受けたい！', conversations_path(sender_id: current_user.id, recipient_id: @advertisement.user.id, advertisement_id: @advertisement.id), method: :post, class: "adShow-rightSide-btnArea__requestBtn adShow-rightSide-btnArea__requestBtn_type_active" %>
          <% elsif @advertisement.active == false && current_user.want_to_advertise %>
            <div class="adShow-rightSide-btnArea__requestBtn adShow-rightSide-btnArea__requestBtn_type_passive">
              現在受付を停止しております</div>
          <% end %>
        <% end %>
        <div id="stockBtn">
          <%= render 'stock_form', advertisement: @advertisement, favorite: @favorite %>
        </div>
      </div>
    </div>
  </div>
</section><!-- /section -->
