<div class="homeRoot">
  <div class="homeRoot__container homeRoot-container">
    <section class="homeRoot-container__topArea homeRoot-container-topArea">
      <div class="homeRoot-container-topArea__wrap homeRoot-container-topArea-wrap">
        <h2 class="homeRoot-container-topArea-wrap__title">
          あなたのアプリを<br>SNSでカンタン広告！
        </h2>
        <p class="homeRoot-container-topArea-wrap__subTitle">
          開発者とインフルエンサーのマッチングスペース
        </p>
        <div class="homeRoot-container-topArea-wrap__btnBox">
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path %>
        </div>
        <div class="homeRoot-container-topArea-wrap__mainImg">
          <%=image_tag 'home_top.png' %>
        </div>
        <div class="homeRoot-container-topArea-wrap__slantLine"></div>
        <%= link_to '#about', class: 'homeRoot-container-topArea-wrap__arwBtn' do %>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      </div>
    </section>
    <section class="homeRoot-container__aboutArea homeRoot-container-aboutArea" id="about">
      <div class="homeRoot-container-aboutArea__wrap homeRoot-container-aboutArea-wrap">
        <div class="homeRoot-container-aboutArea-wrap__textArea homeRoot-container-aboutArea-wrap-textArea">
          <h2 class="homeRoot-container-aboutArea-wrap-textArea__title">
            e-AdAppter
          </h2>
          <p class="homeRoot-container-aboutArea-wrap-textArea__subTitle">
            アプリ広告マッチングスペース
          </p>
          <p class="homeRoot-container-aboutArea-wrap-textArea__content">
            e-AdAppterは、「Webアプリを広告したい人」と「SNSインフルエンサー」を
            つなぐサービスです。アプリを宣伝したい開発者と、広告に協力的なSNSオーナーが集まる
            マッチングスペースを提供します。
          </p>
        </div>
        <div class="homeRoot-container-aboutArea-wrap__infographicArea homeRoot-container-aboutArea-wrap-infographicArea">
          <div class="homeRoot-container-aboutArea-wrap-infographicArea__developer homeRoot-container-aboutArea-wrap-infographicArea-developer">
            <p class="homeRoot-container-aboutArea-wrap-infographicArea-developer__textTop">
              広告依頼の投稿
            </p>
            <div class="homeRoot-container-aboutArea-wrap-infographicArea-developer__round">
              <i class="fas fa-laptop"></i>
              <p>アプリ開発者</p>
            </div>
            <p class="homeRoot-container-aboutArea-wrap-infographicArea-developer__textBottom">
              アプリ利用者拡大
            </p>
          </div>
          <div class="homeRoot-container-aboutArea-wrap-infographicArea__e-adappter homeRoot-container-aboutArea-wrap-infographicArea-e-adappter">
            <div class="homeRoot-container-aboutArea-wrap-infographicArea-e-adappter__round">
              <p>e-AdAppter</p>
            </div>
          </div>
          <div class="homeRoot-container-aboutArea-wrap-infographicArea__snsowner homeRoot-container-aboutArea-wrap-infographicArea-snsowner">
            <p class="homeRoot-container-aboutArea-wrap-infographicArea-snsowner__textTop">
              SNSで宣伝
            </p>
            <div class="homeRoot-container-aboutArea-wrap-infographicArea-snsowner__round">
              <i class="fas fa-comment"></i>
              <i class="fas fa-user"></i>
              <p>SNSオーナー</p>
            </div>
            <p class="homeRoot-container-aboutArea-wrap-infographicArea-snsowner__textBottom">
              報酬の獲得
            </p>
          </div>
        </div>
        <%= link_to 'アプリをさがす', advertisements_path, class: "homeRoot-container-aboutArea-wrap__button" %>
      </div>
    </section>
    <section class="homeRoot-container__introArea homeRoot-container-introArea">
      <div class="homeRoot-container-introArea__wrap homeRoot-container-introArea-wrap">
        <% setIntroCnt.each do |content| %>
          <div class="homeRoot-container-introArea-wrap__content">
            <%= image_tag(content[:img]) %>
            <p><%= content[:ttl] %></p>
            <span><%= content[:txt] %></span>
          </div>
        <% end %>
        <%= link_to '新規登録', new_user_registration_path %>
        <%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path %>
      </div>
    </section>
    <section class="homeRoot-container__usageArea homeRoot-container-usageArea">
      <div class="homeRoot-container-usageArea__wrap homeRoot-container-usageArea-wrap">
        <p class="homeRoot-container-usageArea-wrap__title">
          <i class="fas fa-check"></i>マッチングまでの流れ
        </p>
        <div class="homeRoot-container-usageArea-wrap__slider homeRoot-container-usageArea-wrap-slider">
          <% setUsageCnt.each_with_index do |content, index| %>
            <div class="homeRoot-container-usageArea-wrap-slider__content">
              <p><%= content[:ttl] %></p>
              <%= image_tag(content[:img], class: "img_#{index}") %>
              <span><%= content[:txt] %></span>
            </div>
          <% end %>
        </div>
    </section>
  </div>
</div>
<script>
  $(() => {
    if (window.matchMedia( '(max-width: 768px)' ).matches) {
      $('.homeRoot-container-usageArea-wrap__slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        dots: true,
      });
    } else {
      $('.homeRoot-container-usageArea-wrap__slider').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        dots: true,
      });
    };
  });
</script>
