<section class="userNew">
  <div class="userNew__container userNew-container">
    <%= form_for(resource, as: resource_name, html: {class: 'userNew-container__form userNew-container-form'}, url: session_path(resource_name)) do |f| %>
      <h2 class="userNew-container-form__title">e-AdAppter</h2>
      <div class="userNew-container-form__errorMsg">
        <% if alert %>
         <p><%= alert %></p>
        <% end %>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'userNew-container-form__email' %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'userNew-container-form__password' %>
      <%= f.submit "ログイン", class: "userNew-container-form__submitBtn" %>
      <div class="userNew-container-form__btnArea userNew-container-form-btnArea">
        <%= link_to user_twitter_omniauth_authorize_path, class: 'userNew-container-form-btnArea__oauthBtn' do %>
          <i class="fab fa-twitter"></i> Twitterでログイン
        <% end %>
        <!-- メールサーバ未設定のためコメントアウト -->
        <!-- <%= link_to 'パスワードを忘れてしまった方', new_user_password_path, class: "userNew-container-form-btnArea__forgetPassBtn" %> -->
      </div>
    <% end %>
    <div class="userNew-container__signupCard">
      <p>アカウントをお持ちでない方</p>
      <%= link_to 'アカウントを作成する', new_user_registration_path %>
    </div>
  </div>
</section>
