<!-- footer -->
<footer class="footer">
  <ul class="footer__fnav">
    <li><%= link_to 'アプリをさがす', advertisements_path %></li>
    <% if user_signed_in? %>
      <li><%=link_to 'マイページ', user_path(current_user.id) %></li>
      <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'アカウント作成', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
    <% end %>
    <!-- tos, pp未実装のためコメントアウト -->
    <!-- <li class="tos"><%= link_to '利用規約', homes_use_path %></li> -->
    <!-- <li class="pp"><%= link_to 'プライバシーポリシー', homes_protect_path %></li> -->
  </ul>
  <a href="#" class="footer__arw">
    <i class="fas fa-angle-up"></i>
  </a>
  <div class="footer__title">
    <%= link_to 'e-AdAppter', root_path %>
  </div>
  <div class="footer__copy">
    <p>Copyright ©︎supunic All Rights Reserved</p>
  </div>
</footer><!-- /footer -->
