<!-- header -->
<header class="header header_type_fixed">
  <div class="header__container">
    <h1 class="header__siteTitle header__siteTitle_type_fixed">
      <%= link_to 'e-AdAppter', '#' %>
    </h1>
    <ul class="header__navList header__navList_type_fixed header__navList_state_logout">
      <% if user_signed_in? %>
        <li class="require_ad"><%= link_to 'アプリを投稿する', new_advertisement_path if current_user.want_to_be_advertised %></li>
        <!-- 通知機能未実装のためコメントアウト -->
        <!-- <li class="call"><%= link_to do %>
          <i class="fas fa-bell"></i>
        <% end %></li> -->
        <li><%= link_to advertisements_path do %>
          <i class="fas fa-home"></i>
        <% end %></li>
        <li class="message"><%= link_to conversations_path do %>
          <i class="fas fa-envelope"></i>
          <%= simple_format(setMsgBadge) if setMsgBadge %>
        <% end %></li>
        <li class="search_user"><%= link_to users_path do %>
          <i class="fas fa-users"></i>
        <% end %></li>
      <% else %>
        <li><%= link_to 'e-AdAppterとは', '/#about' %></li>
        <li><%= link_to 'アプリをさがす', advertisements_path %></li>
        <li><%= link_to 'アカウント作成', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <div class="header__snavBtn">
        <i class="fas fa-bars"></i>
      </div>
      <div class="header__userIcon">
        <%= link_to user_path(current_user.id) do %>
          <% if current_user.icon.url == nil %>
            <%= image_tag('user_default_icon.jpg') %>
          <% else %>
            <%= image_tag current_user.icon %>
          <% end %>
        <% end %>
      </div>
      <%= form_with(url: advertisements_path, method: 'get', local: true) do |form| %>
        <div class="header__adSearch">
          <%= form.text_field :keyword, placeholder: "アプリをさがす" %>
          <%= button_tag type: 'submit' do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="header__flashMessage">
      <% if notice %>
       <div class="header__flashMessage_type_notice"><%= notice %></div>
      <% end %>
      <% if alert %>
       <div class="header__flashMessage_type_alert"><%= alert %></div>
      <% end %>
    </div>
  <% end %>
  <%= render 'layouts/snav' if user_signed_in? %>
</header><!-- /header -->
