<header>
  <nav class="pc">
    <h1 class="site_title"><%=link_to 'e-AdAppter', root_path, class: "e-adappter" %></h1>
    <ul class="nav_list">
      <li class="about_eadappter"><a href="#home_sec02">e-AdAppterとは</a></li>
      <li class="require_ad"><%= link_to 'アプリをさがす', advertisements_path %></li>
      <% if user_signed_in? %>
        <li class="mypage"><%=link_to 'マイページ', user_path(current_user.id) %></li>
        <li class="logout"><%=link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="sign_in"><%= link_to 'アカウント作成', new_user_registration_path %></li>
        <li class="login"><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
