<!DOCTYPE html>
<html>
  <head>
    <title>e-AdAppter</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <nav>
        <ul class="nav_list">
          <li class="about_eadappter"><a href="#">e-AdAppterとは</a></li>
          <li class="require_ad"><a href="#">広告依頼</a></li>
          <% if user_signed_in? %>
            <li class="require_ad"><%= link_to '依頼作成', advertisements_path %></li>
            <li class="mypage"><%=link_to 'マイページ', user_path(current_user.id) %></li>
            <li class="logout"><%=link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="sign_in"><%= link_to '新規登録', new_user_registration_path %></li>
            <li class="login"><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
          <!-- <li class="tos"><%= link_to '利用規約', homes_use_path %></li>
          <li class="pp"><%= link_to 'プライバシーポリシー', homes_protect_path %></li> -->
        </ul>
      </nav>
      <a href="#" class="footer_arrow">
        <i class="fas fa-angle-up"></i>
      </a>
      <div class="footer_title">
        <%= link_to 'e-AdAppter', root_path %>
      </div>
      <div class="copyright">
        <p>Copyright ©︎supunic All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
