<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <meta name="description" content="「アプリを広告したい人」と「発信力のあるインフルエンサー」をつなぐサービス。個人開発したアプリを宣伝したい人と、広告に協力的な発信力のある人が集まるマッチングスペースを提供します。">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="e_adappter">
    <meta property="og:site_name" content="アプリ開発者とインフルエンサーをつなぐアプリ - e-AdAppter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://e-adappter.supunic.com/assets/ogp_icon.png">
    <meta property="og:title" content="アプリ開発者とインフルエンサーをつなぐアプリ - e-AdAppter">
    <meta property="og:description" content="個人開発したアプリを宣伝したい人と、広告に協力的な発信力のある人が集まるマッチングスペースを提供します。">
    <meta property="og:image" content="https://e-adappter.supunic.com/assets/e-adappter_twitter_card.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/e-adappter_touch_icon.png">
    <link rel="icon" type="image/png" href="/assets/e-adappter_favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/e-adappter_favicon.png" sizes="16x16">

    <title>アプリ開発者とインフルエンサーをつなぐアプリ - e-AdAppter</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= hidden_field_tag 'currentUserCheck', user_signed_in? %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
